
/* -El punto es para los (class)-

.h2
{
    color: crimson;
    
    font-size: 0,5rem
}

-Almoadilla (#) es para los id-

#div_primero{
    background-color: khaki
} */

#nombredivcss{
    color: crimson

}